<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">

<%- contentFor('body') %>
    <main>
        <%- include('../includes/validation-msgs.ejs') %>
        <form class="login-form" action="/reset" method="POST">
            <%- include('../includes/csrf-input.ejs') %>
            <div class="form-control">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" value="<%= (typeof oldBody !== 'undefined' && oldBody) ? oldBody.email : '' %>" autofocus>
            </div>

            <div class="login-buttons">
                <button class="btn" type="submit">Reset Password</button>
            </div>
        </form>
    </main>