<%- contentFor('body') %>

<div class="home">
    <h1>This is your chance to create your own adventure</h1>
    <p>Choose the elements of your story and we'll put them together and send you the completed project. Come up with your list of characters - the protagonist, the arch-nemisis, the band of brothers, and the red shirts (every story needs them). Choose the ending, setting, geography, and select from a wide list of possible events.</p>

    <div class="call-to-action">
        <a class="btn" href="/story/add">Get started now!</a>
    </div>
</div>