<% if (isLoggedIn) { %>
    <form action="/cart" method="post">
        <%- include('../includes/csrf-input.ejs') %>
        <input type="hidden" name="product_id" value="<%= product._id %>">
        <button class="btn">Add to Cart</button>
    </form>
<% } %>