<div class="card">
    <header class="card__header">
        <%- card_header %>
    </header>
    <div class="card__image">
        <%- card_image %>
    </div>
    <div class="card__content">
        <%- card_content %>
    </div>
</div>