.login-form {
    width:  20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.login-buttons {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
}

.login-buttons a {
    text-decoration: none;
    font-size: 1.25rem;
}

.signup-form {
    width:  20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}
